@charset "utf-8";
/* CSS Document */


#info_main{
    width: 100%;
    min-width: 100px;
    height: 800px;
}
#info_inner{
    width: 980px;
    position: relative;
    margin: auto;
}
#info_inner h1{
    color: white;
    font-size: 40px;
    position: absolute;
    top:30px;
    left:60px;
    text-shadow: 0px 0px 5px #dddada ;
}
#info_inner h3{
    color: gray;
    font-size: 20px;
    position: absolute;
    top:80px;
    left:60px;
}
#score{
    position: absolute;
    right: 60px;
    top: 40px;
    font-family: Magneto;
    color: white;
    background-color : black;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    -webkit-background-clip : text;
    font-size: 40px;
}
#info_img{
    width: 400px;
    height: 570px;
    position: absolute;
    top: 125px;
    left: 60px;
    border-radius: 5px;
}
#info_text{
    position: absolute;
    top: 125px;
    right: 60px;
    width: 360px;
    height: 530px;
    background: #edebeb;
    font-size: 25px;
    padding: 20px;
    border-radius: 5px;
    box-shadow:inset 0px 0px 10px #dddada,0px 0px 5px #dddada ;
}

#comment_outer{
    width: 100%;
    min-width: 1000px;
}
#comment{
    width:980px;
    margin: -40px auto 0 auto;

}
#user_comment{
    height: 160px;
    position: relative;
}
#face_img{
    width: 50px;
    height: 50px;
    position: absolute;
    box-shadow: 0px 0px 5px gray;
    left: 20px;
}

#num_of_comments{
    height: 30px;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid #D0D0D0;
}
#user_comment{
    padding:10px;
    border-bottom: 1px solid #D0D0D0;
}
#input_area{
    width: 700px;
    height: 100px;
    position: absolute;
    left: 100px;
    border: 1px solid #e5e9ef ;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    background: #f4f5f7;
    box-shadow: inset 0px 0px 5px gray;
}

#comment_submit{
    position: absolute;
    top:20px;
    right: 20px;
    height: 100px;
    width: 100px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    box-shadow: 0px 0px 5px gray;
}
#comment_submit:active{
    box-shadow: inset 0px 0px 10px gray;
}
#rating{
    position: absolute;
    bottom: 10px;
    right: 160px;
}
#rating input{
    width: 20px;
    display: none;
}
#real_star{
    position: absolute;
    right: 160px;
    bottom: 10px;

}
#real_star i{
    width: 20px;
    font-size: 20px;
}
.fa-star-o,.fa-star{
    color:#F5FF54;
    margin: 0 2px;
    text-shadow: 0px 0px 2px gray;
}
#upfile{
    position: absolute;
    bottom: 10px;
    left: 100px;
    width: 100px;
    overflow: hidden;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    box-shadow: 0px 0px 5px gray;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
}
#upfile:active{
    box-shadow: inset 0px 0px 10px gray;
}
#upfile>input{
    opacity: 0;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 120px;
}
.list_item{
    padding: 20px;
    overflow: auto;
    border-bottom: 1px solid #D0D0D0;
    position:relative;
    min-height: 120px;
}
.list_content{
    width: 850px;
    float: right;
}
.user_name{
    font-weight: bolder;
    font-family: 楷体;
    margin-top: -10px;
    font-size: 20px;
    padding-bottom: 5px;
}
.user_img{
    position: absolute;
    width:50px;
    height:50px;
    box-shadow:0px 0px 5px gray;
}
.comment_content{
    top:15px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 20px;
    transition:height 1s;
}
.comment_content:hover{
    overflow: visible;
    height: auto;
    transition:height 1s;
    min-height: 80px;
}
.info{
    position: absolute;
    bottom:10px;
    left: 100px;
}
.info>div{
    float:left;
    margin: 0 10px;
}
.comment_stat{
    width: 100px;
}
.comment_select>a{
    margin: 0 10px;
    padding: 2px 10px;
    background: rgba(0,131,166,.5);
    color: white;
    border-radius: 5px;
}
.page{
    float: right;
    margin: 20px;
    padding: 2px 10px;
    color: #fff;
    font-size: 20px;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    box-shadow: 0px 0px 5px gray;
    filter: alpha(opacity=70);
    border-radius: 5px;
}
.page:active{
    box-shadow: inset 0px 0px 10px gray;
}
#featured{
    margin-top: 60px;
    width: 100%;
    min-width: 1000px;
    height: 420px;
    background: linear-gradient(#fff,10%,#dfdfdf);

}
#featured_sub{
    width: 980px;
    margin: auto;
    padding: 20px;
    position: relative;

}
#featured_sub p{
    font-size: 30px;
    padding: 20px;
    font-weight: bolder;
    color: white;
    position: absolute;
    text-shadow: 0px 0px 5px gray;
}
.subshow{
    position: absolute;
    top:100px;
}
.subshow>li{
    text-align: center;
    width: 245px;
    float: left;
}
.subshow img{
    display:block;
    height: 250px;
    margin: auto;

}
.subshow a{
    display:inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    background: rgba(0,131,166,.4);
    color: white;
    border-radius: 5px;
}
#footer_outer{
    background: #dfdfdf;
    clear: both;
    overflow: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
    height: 150px;
    min-width: 1000px;
}
#footer{
    width: 980px;
    margin: auto;
    border-top: solid 1px black;
}