@charset "utf-8";
/* CSS Document */


body{background: #f9f9f9}
#search_outer{
	width: 100%;
	height: 100px;
	min-width: 1000px;
	background: url(../image/bg-wave.gif) repeat-x 0px -3px;
}
#search_contain{
	width: 980px;
	height: 100px;
	margin: auto;
	position: relative;
	padding: 7px;
	background:linear-gradient(#f9f9f9 0%,#f9f9f9) no-repeat;
	background-position: 7px 47px;
	background-size: 980px 53px;
}
#serach_form{
	position: absolute;
	left: 0px;
}
#search1{
	width: 500px;
	height: 30px;
	font-size: 25px;
	margin-left: 100px;
	border-radius: 5px;
	border:solid 1px rgba(157,157,157,0.80);
	background: linear-gradient(to bottom, #dddada 1%,#edebeb 100%);
}
#submit1{
	color: #fff;
	font-size: 25px;
	position: relative;
	padding: 2px 20px;
	background-color: #000000;
	filter: alpha(opacity=70);
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	margin: 0px 10px;
	border: none;
}
#sort{
	display: inline-block;
	margin-left: 50px;
	margin-top:-5px;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	background: linear-gradient(to bottom, #dddada 1%,#edebeb 100%);
}
#sort option{
	background-color: #edebeb;
}
#searched_outer{
	width: 100%;
	min-width: 1000px;
	height: 1200px;
}
#searched{
	width:980px;
	position: relative;
	height: 1200px;
	margin: auto;
	margin-top: -10px;
	background: #f9f9f9;
}
#search_result{
	position: absolute;
	font-size: 26px;
	font-weight: bolder;
	padding-left: 20px;
	padding-bottom: 10px;
	top:50px;
	width: 960px;
	border-bottom: solid 1px gray;
}
#searched_list>li{
	height: 200px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	background: linear-gradient(to bottom, #dddada 0%,#edebeb 10%);
	position: relative;
}
.search_img{
	position: absolute;
	left: 10px;
	height: 200px;
	background-color: gray;
}
.search_name{
	font-size: 30px;
	font-weight: bolder;
	position: absolute;
	left: 200px;
}
.search_info{
	font-size: 20px;
	color: lightslategrey;
	position: absolute;
	top:50px;
	left: 200px;
	width: 650px;
	height: 130px;
	overflow: hidden;
}
.search_hr{
	position: absolute;
	top:45px;
	width: 740px;
	left: 200px;
}

.search_score{
	position: absolute;
	right: 20px;
	top:70px;
	font-size: 50px;
	font-family: Magneto;
	color: transparent;
	background-color : black;
	text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
	-webkit-background-clip : text;
}
.fa-heart-o,.fa-heart{
	font-size: 40px;
	color: red;
	position: absolute;
	bottom: 30px;
	right: 30px;
}
.page{
	position: absolute;
	bottom: 5px;
	margin-right: 20px;
	padding: 5px 20px;
	color: #fff;
	font-size: 25px;
	background-color: #000000;
	filter: alpha(opacity=70);
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}
#next_page{
	right: 0px;
}
#pre_page{
	right: 150px;
}
#footer_outer{
	background: #dfdfdf;
	clear: both;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 40px;
	height: 150px;
	min-width: 1000px;
}