@charset "utf-8";
/* CSS Document */
::-webkit-scrollbar {display:none}
* { margin:0; padding:0;font-size:16px;font-family:宋体;line-height:1.2em}
a:link, a:visited, a:hover, a:active {text-decoration: none;}
body{background: #f9f9f9}
#main_bk{
	background-color: black;
	width: 110%;
	left: -5%;
	position: absolute;
	top:-40%;
	filter: blur(40px);
	z-index: -1;

}
#bk_outer{
	width: 100%;
	height: 900px;
	overflow: hidden;
	position: absolute;
	min-width: 1000px;
}
.wrapper {
	margin: 0 auto;
	width: 980px;
	min-width: 1000px;
	position:relative;
}
li {list-style-type:none}
#header_outer {
	height: 60px;
	background: black;
}

#header {
	overflow: hidden;
}
#header>p{
	float: left;
	font-size: 30px;
	padding: 10px 30px;
	color: white;
}
#header>a{
	font-size: 20px;
	padding: 20px 30px;
	float:right;
	color: white;
}
#nav_outer {
	height:80px;
	min-width: 1000px;
	background:linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.50));
}
#logo{
	height:60px;
	width: 60px;
	background:url( ../image/main_logo.png) ;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#nav_outer #logo>a{
	display:inline-block;
	height:60px;
	width: 60px;
}
#nav>li>a {
	display:inline-block;
	padding:10px 0px;
	height: 23px;
	width: 140px;
	font-size:20px;
	border-radius: 5px;
	color:white;
}
.subnav>li>a {
	display:inline-block;
	padding:10px 0px;
	height: 20px;
	width: 140px;
	font-size:18px;
	color: white;
}
#nav_in>#logo{
	margin: 10px 30px;
	float: left;
}
#nav_in>#main_nav{
	padding: 20px 0;
	float:left;
}
#nav_in>#serach{float:left;}
#nav>li {
	width:150px;
	float: left;
	text-align: center;
}
#nav .subnav {
	overflow: none;
	width:140px;
	position: relative;
	margin: 0 5px;
	top:0;
	opacity: 0;
	transition-property: all;
	transition-duration: 1s;
	background-color: rgba(0,131,166,.4);
	z-index: 999;

}
#nav>li:hover>a{
	color: white;
	font-weight: bolder;
	background: rgba(0,131,166,.4);
	margin: auto;
}
#nav>li:hover .subnav{
	opacity: 1;
	overflow: visible;
	border-radius: 10px;
}
#nav .subnav>li:hover{
	background: rgba(255,255,255,.6);
	border-radius: 5px;
	font-weight: bolder;
}
#serach {
	width: 250px;
	padding: 30px 0px;
	position: relative;
}
#serach #content{
	width: 250px;
	border-radius: 5px;
	position: absolute;
}
#serach #submit{
	position: absolute;
	right: -1px;
	width: 22px;
	height: 22px;
	background: none;
	z-index: 3;
	border:none;
}
#serach i{
	font-size: 1.4em;
	position: absolute;
	right: 0px;
	z-index: 2;
	color: darkgray
}


#search_outer{
	width: 100%;
	height: 100px;
	min-width: 1000px;
	background: url(../image/bg-wave.gif) repeat-x 0px -3px;
}
#search_contain{
	width: 980px;
	height: 100px;
	margin: auto;
	position: relative;
	padding: 7px;
	background:linear-gradient(#f9f9f9 0%,#f9f9f9) no-repeat;
	background-position: 7px 47px;
	background-size: 980px 53px;
}
#serach_form{
	position: absolute;
	left: 0px;
}
#search1{
	width: 500px;
	height: 30px;
	font-size: 25px;
	margin-left: 100px;
	border-radius: 5px;
	border:solid 1px rgba(157,157,157,0.80);
	background: linear-gradient(to bottom, #dddada 1%,#edebeb 100%);
}
#submit1{
	color: #fff;
	font-size: 25px;
	position: relative;
	padding: 2px 20px;
	background-color: #000000;
	filter: alpha(opacity=70);
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	margin: 0px 10px;
	border: none;
}
#sort{
	display: inline-block;
	margin-left: 50px;
	margin-top:-5px;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	background: linear-gradient(to bottom, #dddada 1%,#edebeb 100%);
}
#sort option{
	background-color: #edebeb;
}
#searched_outer{
	width: 100%;
	min-width: 1000px;
	height: 1200px;
}
#searched{
	width:980px;
	position: relative;
	height: 1200px;
	margin: auto;
	margin-top: 20px;
	background: #f9f9f9;
}
#search_result{
	position: absolute;
	font-size: 40px;
	font-weight: bolder;
	padding:10px 0px;
	margin: 0px 10px;
	top:50px;
	width: 960px;
	font-family: 楷体;

	border-radius: 10px;
	text-shadow: 0px 0px 10px grey;
	color:black;

}

#searched_list>li{
	height: 200px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	background: linear-gradient(to bottom, #dddada 0%,#edebeb 10%);
	position: relative;
}
.search_img{
	position: absolute;
	left: 10px;
	height: 200px;
	background-color: gray;
}
.search_name{
	font-size: 30px;
	font-weight: bolder;
	position: absolute;
	left: 200px;
	color: azure;
	text-shadow: 0px 0px 8px black;
	font-family: "Times New Roman";

}
.search_info{
	font-size: 20px;
	color: lightslategrey;
	position: absolute;
	top:50px;
	left: 200px;
	width: 650px;
	height: 130px;
	overflow: hidden;
}
.search_hr{
	position: absolute;
	top:45px;
	width: 740px;
	left: 200px;
}

.search_score{
	position: absolute;
	right: 20px;
	top:70px;
	font-size: 50px;
	font-family: Magneto;
	color: transparent;
	background-color : black;
	text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
	-webkit-background-clip : text;
}
.fa-heart-o,.fa-heart{
	font-size: 40px;
	color: red;
	position: absolute;
	bottom: 30px;
	right: 30px;
}
.page{
	position: absolute;
	bottom: 5px;
	margin-right: 20px;
	padding: 5px 20px;
	color: #fff;
	font-size: 25px;
	background-color: #000000;
	filter: alpha(opacity=70);
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}
#next_page{
	right: 0px;
}
#pre_page{
	right: 150px;
}
#footer_outer{
	background: #dfdfdf;
	clear: both;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 40px;
	height: 150px;
	min-width: 1000px;
}
.botton{
	box-shadow: 0px 0px 5px gray;
	background: rgba(0,167,222,0.99);
}
.botton:active{
	box-shadow: inset 0px 0px 5px gray;
}